.categories_container {
  height: 320px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.category-card {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 225, 135);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  cursor: pointer;
  filter: drop-shadow(4px 4px 8px rgba(103, 67, 1, 0.932));
}

.category-card img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);

}

.category-card__action {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: var(--secondary);
  color: var(--on-secondary);

}


.category-card__action:hover {
  filter: brightness(110%) drop-shadow(0px 2px 2px #dd4444);
}